.mybody {
    margin-top: 75px;
}

.pictures-container {
    display: flex;
    justify-content: center;
}

.pictures-inline {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
}

.split-in-half {
    width: 50%;
}

#modal-content {
    text-align: center;
    margin-top: 50%;
}

#modal-title {
    color: white;
    text-align: center;
}

#tweetfeed {
    overflow-y : auto;
    height: 438px;
}

.tweet-time {
    text-align: right;
}

.tweet:hover {
    background: #F5F8FA;
}

#search-results {
    overflow-y : auto;
}

#chart {
    top: 150px;
    left: 150px;
}

#loading {
    height: 438px;
}

#loading-center {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
}

#loading-glyphicon {
    font-size: 150px;
    color: #f5f5f5;
}

.bookmarks {
    text-align: center;
}

.glyphicon-star {
    color: gold;
}

/*from http://bootsnipp.com/snippets/featured/glyphicon-animate-rotation-and-flip*/
.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}