@(message: String, pokemon: PokemonModel.Pokemon, likes: Int,
        hasVotedL: Boolean, dislikes: Int, hasVotedD: Boolean)(implicit request: play.api.mvc.RequestHeader)

@main(message) {

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span>
                        <img alt="" src="@routes.Assets.versioned("images/favicon.png")"> My Pokedex
                    </span>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="#">Detail</a></li>
                </ul>
                <a id="bookmark" class="navbar-btn btn btn-default pull-right">
                @if(request.session.get(pokemon.name).isEmpty){
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Bookmark
                } else {
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Unbookmark
                }
                </a>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container mybody">

        <button id="button-likes" class="btn btn-primary pull-right @if(hasVotedL){disabled}" type="button">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="badge">@likes</span>
        </button>
        <button id="button-dislikes" class="btn btn-danger pull-right @if(hasVotedD){disabled}" type="button">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> <span class="badge">@dislikes</span>
        </button>

        <h1>@pokemon.name.capitalize</h1>

        <div class="pictures-container">
            @if(pokemon.sprites.front_default.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.front_default.get" alt="front_default">
                    </a>
                </div>
            }
            @if(pokemon.sprites.back_default.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.back_default.get" alt="back_default">
                    </a>
                </div>
            }
            @if(pokemon.sprites.front_shiny.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.front_shiny.get" alt="front_shiny">
                    </a>
                </div>
            }
            @if(pokemon.sprites.back_shiny.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.back_shiny.get" alt="back_shiny">
                    </a>
                </div>
            }
            @if(pokemon.sprites.front_female.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.front_female.get" alt="front_female">
                    </a>
                </div>
            }
            @if(pokemon.sprites.back_female.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.back_female.get" alt="back_female">
                    </a>
                </div>
            }
            @if(pokemon.sprites.front_shiny_female.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.front_shiny_female.get" alt="front_shiny_female">
                    </a>
                </div>
            }
            @if(pokemon.sprites.back_shiny_female.isDefined){
                <div class="pictures-inline">
                    <a href="#" class="thumbnail">
                        <img src="@pokemon.sprites.back_shiny_female.get" alt="back_shiny_female">
                    </a>
                </div>
            }
        </div><!--/ end row pictures -->

        <div class="panel panel-default">
                <!-- Default panel contents -->
            <div class="panel-heading">Basic info</div>

                <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="split-in-half">Characteristic</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Weight</td>
                        <td>@pokemon.weight</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span> Height</td>
                        <td>@pokemon.height</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Is Default</td>
                        <td>@if(pokemon.is_default){Yes}else{No}</td>
                    </tr>
                    <tr>
                        <td><span class="glyphicon glyphicon-apple" aria-hidden="true"></span> Base Experience</td>
                        <td>@pokemon.base_experience</td>
                    </tr>
                    @for(t <- pokemon.types) {
                        <tr>
                            <td><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> Type @{pokemon.types.indexOf(t)+1}</td>
                            <td>@{t.`type`.name.capitalize}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-lg-6">

                <div class="panel panel-default">
                        <!-- Default panel contents -->
                    <div class="panel-heading">Statistics</div>
                    <div id="chart"></div>
                    <div id="loading">
                        <div id="loading-center">
                            <span id="loading-glyphicon" class="glyphicon glyphicon-cog gly-spin" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <div id="tweetcontent" class="panel panel-default">
                        <!-- Default panel contents -->
                    <div class="panel-heading">
                        <b>Live Tweet Feed from <a href="https://twitter.com/hashtag/@pokemon.name?src=hash">#@pokemon.name.capitalize</a></b>
                        <span id="twitter-refresh" class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></span>
                    </div>
                    <ul id="tweetfeed" class="list-group">
                    </ul>
                </div><!-- End Tweets Content -->
            </div>
        </div>

    </div><!-- /.container -->

    <div id="modal-picture" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div id="modal-content"></div>
            <p id="modal-title"></p>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="@routes.Assets.versioned("javascripts/d3.v3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/RadarChart.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/detail.js")" type="text/javascript"></script>
    <script>
        (function() {
            Detail.load("@pokemon.name");
        })();
    </script>
}
