@(message: String, error: String)(implicit request: play.api.mvc.RequestHeader)

@main(message) {

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <span>
                        <img alt="" src="@routes.Assets.versioned("images/favicon.png")"> My Pokedex
                    </span>
                </a>            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            Bookmarks <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @for( (k,v) <- request.session.data){
                                <li class="bookmarks"><a href="@v">@k.capitalize</a></li>
                            }
                            @if(request.session.data.isEmpty){
                                <li class="bookmarks">Empty...</li>
                            }
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container mybody">

        @if(!error.isEmpty){

        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @error
        </div>

        }

        <div>
            <h1>Hi, welcome to my Pokedex !</h1>
            <p class="lead">Here you can see details of whatever pokemon you want.<br>
                Please start type in its name in the search bar, or use "bookmarks" if you saved direct access pages.</p>
        </div>

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </span>
            <input type="text" id="search-bar" class="form-control" placeholder="Search for pokemons..." aria-describedby="sizing-addon1">
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-default" type="button">Go!</button>
            </span>
        </div><!-- /input-group -->

        <div id="search-results" class="list-group">
        </div>
        
    </div><!-- /.container -->

    <script src="@routes.Assets.versioned("javascripts/index.js")" type="text/javascript"></script>
    <script>
        (function() {
            Index.load();
        })();
    </script>
}
